.navbar-nav .nav-item {
  position: relative;
}

.navbar-nav .nav-item::before {
  content: "";
  position: absolute;
  border-radius: 30%;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  z-index: 0;
  opacity: 0;
  transition: opacity 0.3s;
  pointer-events: none;
}

.navbar-nav .nav-item:hover::before {
  opacity: 1;
}
